RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ /api.php?uri=$1 [NC,L,QSA]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_COOKIE} PHPSESSID=([^;]+)
RewriteRule ^ /vue.html  [NC,L,QSA]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ /the.php  [NC,L,QSA]

RewriteEngine On
# # If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html

RewriteCond %{HTTP_COOKIE} PHPSESSID=([^;]+)
RewriteRule ^(.*) /vue.html [NC,L,QSA]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /the.php [NC,L,QSA]